<div class= "row" id = "admin">
	<div class = "col-md-9">
		<header>Admin Lounge</header>
		<p>Welcome to the admins lounge, enjoy your stay.</p>		
	</div>
	<div class = "col-md-3">
		<h2>Admin Links</h2>
		<ul class="nav-bar-stacked">
			<li><%= link_to "Users", admin_users_path %></li>
		</ul>
	</div>
</div>